*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    /* height: 100vh; */
    background-color: #eee;
    padding: 10px;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: nowrap;

    /* shorthand for flex-direction and wrap */
    /* flex-flow: row wrap; */


    /* align-content: flex-start; */

}

.item{
    width: 100px;
    height: 60px;
    background-color: orange;
    padding: 20px;
    margin: 10px;
    color: #fff;
    font-size: 20px;
}

.item1{
    height: 120px;
    /* order: 20; */
    flex-grow: 1;
}
.item2{
    align-self: flex-end;
}
.item3{
}
.item4{
}
.item5{
    order: -1;
}


/*  

baseline makes it on the same line when height is changed.
*/