*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 50vh;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.item{
    /* height: 60px; */
    background-color: orange;
    padding: 20px;
    margin: 10px;
    color: #fff;
    font-size: 20px;
}