*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    /* height: 100vh; */
    background-color: #eee;
    padding: 10px;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    /* shorthand for flex-direction and wrap */
    /* flex-flow: row wrap; */

    
    /* align-content: flex-start; */

}

.item{
    /* height: 60px; */
    background-color: orange;
    padding: 20px;
    margin: 10px;
    color: #fff;
    font-size: 20px;
}