* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: serif;
  font-size: 10pz;
  width: 100%;
  min-height: 100vh;
}
.container {
  border: 2px solid red;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.box-1 {
  order: 5;
}
.box-2 {
  order: 1;
}
.box-3 {
  order: 2;
}
.box-4 {
  order: 3;
}
