*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: serif;
    font-size: 10pz;
    width: 100%;
    min-height: 100vh;
}
.container{
    border: 2px solid red;
    width: 50%;
    height: 50vh; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* gap: 20px; */
    align-content: center;
    align-items: center;
}